<div>
  <section class="header-recipe">
    <div class="header-img-box">
      <img class="img-header" src="" alt="image recipe food" />
    </div>
    <div class="header-recipe-title">
      <h1 class="recipe-title"></h1>
    </div>
  </section>

  <section class="recipe-data">
    <div class="cooking-time-box flex">
      <ion-icon class="icon icon-md" name="time-outline"></ion-icon> Cooking time:
      <p class="cooking-time"><span class="cooking-time-data"></span> minutes</p>
    </div>
    <div class="servings flex">
      <ion-icon class="icon icon-md" name="people-outline"></ion-icon> Servings:
      <span class="servings-data"></span>
      <div class="servings-control">
        <span class="serving-control">
          <a href="#" class="btn btn-ctr-serv">
            <ion-icon class="icon icon-ctr" name="add-circle-outline"> </ion-icon>
          </a>
        </span>
        <a href="#" class="btn btn-ctr-servings">
          <a href="#" class="btn btn-ctr-serv">
            <ion-icon class="icon icon-ctr" name="remove-circle-outline"></ion-icon>
          </a>
        </span>
      </div>
      <div class="bookmarked-box">
        <ion-icon class="bookmarked" name="bookmark"></ion-icon>
      </div>
    </div>
  </section>

  <section class="content-recipe">
    <div class="recipe-ingredients">
      <ul class="recipe-ingredients-box"></ul>
    </div>
  </section>
</div>

<section class="recipe-footer">
  <p class="recipe-footer-title">HOW TO COOK IT</p>
  <p class="recipe-publisher">
    This recipe was carefully designed and tested by
    <span class="publisher-name">Two Peas and Their Pod</span>. Please check out directions at their
    website.
  </p>
  <a class="link" href="http://">Directions</a>
</section>
